@using manytomany.task.Areas.Manage.ViewModels.Setting;
@model CreateSettingVM

<div class="container">

    <form method="post" enctype="multipart/form-data">
        <h1>Create {Phone, Icon, Address, Social media and etc.}</h1>
        <h5 style="color:red"> Do Not Create non-related things</h5>
        <div class="row">
            <div class="mb-3" col-md-3 style="margin-right: 30px;">
                <label asp-for="Key" class="form-label">Key</label>
                <input asp-for="Key" class="form-control">
                <span asp-validation-for="Key" style="color: red"></span>
            </div>
            <div class="mb-3" col-md-3 style="margin-right: 30px;">
                <label asp-for="Value" class="form-label">Value</label>
                <input asp-for="Value" class="form-control">
                <span asp-validation-for="Value" style="color: red"></span>
            </div>


            
                <button type="submit" class="btn btn-primary" style="height:40px">Submit</button>
           
        </div>

    </form>


</div>
