  @using manytomany.task.Areas.Manage.ViewModels.Setting;
@model UpdateSettingVM

<div class="container">

    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3" col-md-3 style="margin-right: 30px;">
                <label asp-for="Key" class="form-label">Key</label>
                <input asp-for="Key" class="form-control">
                <span asp-validation-for="Key" style="color: red"></span>
            </div>
            <div class="mb-3" col-md-3 style="margin-right: 30px;">
                <label asp-for="Value" class="form-label">Value</label>
                <input asp-for="Value" class="form-control">
                <span asp-validation-for="Value" style="color: red"></span>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>

    </form>


</div>
